
.skillbar {
    // background: #4A5568;
    background: none;
    .skillbar-title {
        font-size: 18px;
        // width: 158px;
        z-index: 1;
        
       
    }
    .skillbar-percent {
        font-size: 22px;
        color: black;
    }
}


